@model ValueTuple<Models.ForwardItem, string, string>;
@{
    // Deconstruct the model.
    var (Item, ErrorMsg, SuccMsg) = Model;
    ViewBag.Title = $"Forward {Item.Id} Info";
}

<h1 class="main-heading">@Item.Id (@Item.Hits hit@(Item.Hits == 1 ? "" : "s"))</h1>
<form asp-controller="Index" asp-action="ForwardItemPatch" method="post" class="form">
    <div class="control-group">
        <label for="dest">Destination</label>
        <input type="text" name="dest" value="@Item.Dest" required />
    </div>
    <div class="control-group">
        <label for="notes">Notes</label>
        <input type="text" name="notes" value="@Item.Notes" />
    </div>
    <div class="control-group">
        <button type="submit" class="btn-submit">Update</button>
    </div>
</form>

@await Html.PartialAsync("_Messages", (ErrorMsg, SuccMsg))

<a asp-controller="Index" asp-action="Index">&lt; Home</a>
