@model bool;
@{
    ViewBag.Title = "Login";
}

<form asp-controller="Index" asp-action="IndexLogin" method="post" class="form">
    <div class="control-group">
        <label>Credentials:</label>
        <input type="password" name="key" />
    </div>
    <div class="control-group">
        <button type="submit" class="btn-submit">Authenticate</button>
    </div>
</form>

@if (Model)
{
    <p class="error-msg">Invalid credentials</p>
}
