@model string;
@{
    ViewBag.Title = "Forward Not Found";
}

<h1 class="main-heading">Forward Not Found</h1>
<p>
    A forward with the ID <code>@Model</code> was not found.
    If you typed it in manually, ensure all characters (including casing) are exact.
</p>
